@tailwind base;

@tailwind components;

html {
  scroll-behavior: smooth;
}

.paragraph-link {
  @apply text-lime transition-colors duration-200;
}
.paragraph-link:hover {
  @apply text-lime-lighter;
}
.btn {
  @apply bg-clay-lighter text-white transition-colors duration-200 font-bold mx-2 py-2 px-4
    rounded-full;
}
.btn:hover {
  @apply bg-lime text-clay;
}

.ball {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
.bounce {
  animation-name: bounce-keys;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
@keyframes bounce-keys {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-25px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@tailwind utilities;
