@import "./colors";
@import "./typography";
@import "./sizing";
@import "./spacing";

.profile img {
  border-radius: 50%;
  border: 4px dashed white;
  max-width: 75%;
}

.btn {
  padding: 0.4rem 0.2rem;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  transition-property: all;
  transition-duration: 0.2s;

  &-lightclay {
    background-color: $lightClay;
    color: #fff;
  }
  &-lime {
    background-color: $lime;
    color: $clay;
  }
  &-sky {
    background-color: $sky;
    color: $clay;
  }
  &-orchid {
    background-color: $orchid;
    color: #fff;
  }

  &-h-xing:hover {
    background-color: $xing;
    color: #fff;
  }
  &-h-twitter:hover {
    background-color: $twitter;
    color: #fff;
  }
  &-h-darkclay:hover {
    background-color: $darkClay;
    color: #fff;
  }
  &-h-lightclay:hover {
    background-color: $lightClay;
    color: #fff;
  }
  &-h-lime:hover {
    background-color: $lime;
    color: $clay;
  }
  &-h-sky:hover {
    background-color: $sky;
    color: $clay;
  }
  &-h-orchid:hover {
    background-color: $orchid;
    color: #fff;
  }
}
